<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<h1 class="display-1 text-center">DEPARTAMENTOS</h1>
<br><br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-success text-boton-lista" routerLink="/admin/nuevo-depto">CREAR</button>   
</div>
    <div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th class="align-middle col-10">Nombre</th>
                <th class="align-middle "></th>
                <th class="align-middle "></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of listaDep">
                <td class="align-middle">{{i.nombre}} </td>
                <td class="align-middle"><button type="button" class="btn btn-danger text-boton-lista">Eliminar</button>
                </td>
                <td class="align-middle"><button type="button"
                        class="btn btn-primary text-boton-lista">Modificar</button></td>
            </tr>
        </tbody>
    </table>
</div>
<br>