<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h2 class="white-text">Warrior Squad</h2>
          <h5 class="grey-text text-lighten-4">Proyecto Desarrollo de Software Ciclo 4</h5>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Integrantes</h5>
          <ul>
            <li>Catalina Escobar Jaramillo</li>
            <li>Stefania Machado González</li>
            <li>Lorena Rocio Trujillo Gómez</li>
            <li>Rubén Felipe Echavarría Llanes</li>
            <li>Mario Alejandro Zuluaga Ramírez</li>
            <!-- <li><a class="grey-text" href="#!">Link 1</a></li> -->
            <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
    <p></p>
  </footer>