
<div class="container">
    <div id="logbox">
        <form id="login" method="post" (ngSubmit)="eliminar()">
            <br>
            <h1>Eliminar Solicitud</h1><br><br>
            <p>Por favor confirme si desea eliminar la solicitud</p>
            
            <h1></h1>
            
            <div class="" style="display: flex;">
                <button type="button" value="Ingresar" class="inputButton primary"  [routerLink]="['/admin/asesores']">Regresar</button>
                <button type="submit" value="Ingresar" class="inputButton danger">Eliminar</button>
            </div>
        </form>
    </div>
</div>
