<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div id="logbox">
        <form [formGroup]="fgValidatorPassRecovery" id="signup" method="post" action="/signup" (ngSubmit)="PassRecovery()">
            <h1>Olvidé mi Clave</h1>
            <div class="form-row">
                <input formControlName="email" name="user[email]" type="email" placeholder="Correo Electrónico" class="input pass"/>
            </div>

            <button [disabled]="!fgValidatorPassRecovery.valid" type="submit" value="Recuperar" class="inputButton">Recuperar contraseña</button>
       </form>
    </div>
</div>