<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div id="logbox">
        <form [formGroup]="fgValidatorSignup" id="signup" method="post" action="/signup" (ngSubmit)="SignupCliente()">
            <h1>Crear nueva cuenta</h1>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <input formControlName="nombre" name="user[nombre]" type="text" placeholder="Nombres" required="required" class="input pass"/>
                </div>
                <div class="col-md-6 mb-2">
                    <input formControlName="apellido" name="user[apellido]" type="text" placeholder="Apellidos" required="required" class="input pass"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <input formControlName="tipodocumento" name="user[tipodocumento]" type="text" placeholder="Tipo de Documento" required="required" class="input pass"/>
                </div>
                <div class="col-md-6 mb-2">
                    <input formControlName="documento" name="user[documento" type="text" placeholder="Número de documento" required="required" class="input pass"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <input formControlName="email" name="user[email]" type="email" placeholder="Correo Electrónico" class="input pass"/>
                </div>
                <div class="col-md-6 mb-2">
                    <input formControlName="telefono" name="user[telefono]" type="text" placeholder="Teléfono" required="required" class="input pass"/>        
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <input formControlName="password" name="user[password]" type="password" placeholder="Contraseña" required="required" class="input pass"/>        
                </div>
                <div class="col-md-6 mb-2">
                    <input formControlName="password2" name="user[password2]" type="password" placeholder="Confirme la contraseña" required="required" class="input pass"/>
                </div>
            </div>

            <button [disabled]="!fgValidatorSignup.valid" type="submit" value="Ingresar" class="inputButton">Ingresar</button>
            <div class="col-md-6 mb-2">
                <div class="text-center">
                    ¿ya tienes una cuenta?
                    <a routerLink="/security/login" href="">Inicia Sesión</a>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="text-center">
                    ¿No recuerdas tu contraseña?
                    <a routerLink="/security/password-recovery" href="">Recuperar Contraseña</a>
                </div>
            </div>
       </form>
    </div>
</div>